@import url('https://fonts.googleapis.com/css2?family=Radio+Canada&family=Signika:wght@500&display=swap');

:root {
  --bgcolorone : #1C1C1C;
  --bgcolortwo : #23252C;
  --bgcolorthree: #1A1B21;
  --colorblue: #5093E2;
}

body {
  background-color: var(--bgcolorthree);
  color: white;
  font-family: 'Radio Canada', sans-serif;
  font-size: 20px;
}

* {
  box-sizing: border-box;
}

.box{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  max-width: 940px;
  margin: auto;
}

form{
  padding: 1rem;
}

.feedback label{
  display: block;
}

textarea{
  resize: vertical;
}

.cbox{
  display: inline-block;
}

.inp{
  width: 90%;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

input[type=text]{
  margin-left: 1rem;
}

.inp{
  margin-bottom: 1rem;
}

.inp:nth-child(1) input[type=text]{
  width: 65%;
}
.inp:nth-child(2) input[type=text]{
  width: 65%;
}
.inp:nth-child(3) input[type=tel]{
  width: 65%;
}
.inp:nth-child(4) input[type=email]{
  width: 65%;
}

.inp input[type=text],input[type=email],input[type=tel]{
  border-radius: 50px;
  height: 2rem;
  padding: 1rem;
}

button{
  display: block;
  margin: 0 auto;
  width: 6rem;
  height: 2rem;
  border-radius: 50px;
}

textarea{
  width: 65%;
}
